body {
    background-color: black;
}

.board {
    border: 1px solid black;
    border-radius: 4px;
    width: 500px;
    margin: 50px auto 0 auto;
    padding: 20px;
    background-color: #000;
}

.board p {
	text-align: center;
    font-size: 75px;
    font-family: 'Monoton', cursive;
    color: #fff;
    text-transform: uppercase;
}